<!-- Macro template for displaying posts -->
{% macro display_post(post) %}
<!-- <div id = "{{ post.id }}"class="bg-light p-4 rounded m-3">
    <div class="row">
        <div class="col-5">
            <img class="post-img" src="/static/post-images/{{ post.image }}">
        </div>
        <div class="col-7">
            {% for song in post.songs %}
                {{ display_song(song)}}
            {% endfor %}
        </div>
    </div>
    <hr class="text-dark my-4">
    <img id="nav-img" src="/static/profile-images/{{ g.user.profile_image }}" alt="{{ g.user.username }}">
    {% if post.user.name %}
        <p class="text-dark">{{ post.user.name }}</p>
    {% endif %}
    <a href="{{ url_for('user_profile', user_id=post.user_id) }}">@{{post.user.username}}</a>
    <br>
    <p class="text-dark m-0">{{ post.description }}</p>
    <small class="text-dark">{{ post.timestamp.strftime('%I:%M %p - %b %d, %Y ') }}</small>
    <div class="container-fluid text-right">
        <i class="text-dark fa-solid fa-trash-can"></i>
    </div>
</div> -->
<div class="col-lg-9 col-xl-8 col-xxl-7 my-2">
    <div id = "{{ post.id }}"class="bg-light p-4 rounded m-3">
        <div class="d-flex align-items-center mb-2">
            <a href="{{ url_for('user_profile', user_id=post.user_id) }}">
                <img class="profile-img" id="nav-img" class="me-2"
                src="/static/profile-images/{{ post.user.profile_image }}" alt="{{ g.user.username }}">
                {% if post.user.name %}
                <span class="text-dark">{{ post.user.name }}</span>
                {% endif %}
                <small class="text-primary">@{{post.user.username}}</small>
            </a>  
        </div>
        <p class="text-dark my-0 mx-5 px-2">{{ post.description }}</p>
        <img class="post-img mt-2" src="/static/post-images/{{ post.image }}">
            {% for song in post.songs %}
                {{ display_song(song, 'border')}}
            {% endfor %}
        <hr class="text-dark my-4">
        
        <div class="row">
            <small class="col-6 text-dark">{{ post.timestamp.strftime('%I:%M %p - %b %d, %Y ') }}</small>
            {% if g.user.id == post.user.id %}
            <div class="col-6 text-end">
                <i class="text-dark bi bi-trash-fill"></i>
            </div>
            {% endif%}
        </div>
    </div>
</div>
{% endmacro %}


<!-- Macro template for displaying songs -->
{% macro display_song(song, border_style) %}
<div id="{{ song.id }}" class="bg-light {{ border_style }} p-2 m-0 row">
    <div class="col-11 p-0 d-flex align-items-center">
        <img class="song-img me-2" src="{{ song.image_url }}">
        <div class="audio-player">
            {% if song.audio_url %}
            <audio class="m-0" id="audio-{{ song.id }}" src="{{ song.audio_url }}"></audio>
            <button class="play-pause">
                <i class="bi play bi-play-fill"></i>
            </button> 
            {% endif %}
        </div>
        <div>
            <a class="title text-dark m-0" href="{{ song.spotify_url }}">{{ song.title }}</a>
            <small class="album d-block text-dark fst-italic">{{ song.album }} ({{ song.album_year }})</small>
            <small class="artist d-block text-dark">{{ song.artists }}</small>
        </div>
    </div>
    <div class="col-1 d-flex align-items-center">
        {% if song in g.user.bookmarked_songs %}
        <i class="text-dark bookmark bi bi-bookmark-fill"></i>
        {% else %}
        <i class="text-dark bookmark bi bi-bookmark"></i>
        {% endif %}
    </div>
</div>
{% endmacro %}