{% extends 'base.html' %}

{% block content %}
<div class="container">
  <p class="m-0">Filter by:</p>
  <div class="form-check">
    <input class="filter form-check-input" type="radio" name="filter" id="filter-music" value="music" checked>
    <label class="form-check-label" for="filter-music">
    Music
    </label>
  </div>
  <div class="form-check">
    <input class="filter form-check-input" type="radio" name="filter" id="filter-users" value="users">
    <label class="form-check-label" for="filter-users">
    Users
    </label>
  </div>
</div>

  <div id ="music-results">
    <h3>Music</h3>
    {% for song in songs %}
        {{ song.title }}
    {% endfor %}
  </div>

  <div id = "users-results">
    <h3>Users</h3>
    {% for user in users %}
        {{ user }}
    {% endfor %}
  </div>

{% endblock %}