/* Global Styling */
*{
    box-sizing: border-box;
    color:#222222;
}

body{
    height: 120vh;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    background-attachment: fixed;
}

h2{
    color: white;
    margin: 0px;
    padding: 10px;
}

a{
    text-decoration: none;
}

b{
    color: white;
}

.profile-img{
    border-radius: 50%;
    object-fit: cover;
}

.btn{
    border: none;
}

.btn-primary{
    background-color: #4681f4;
}

#flash{
    border-radius: 0;
    border: none;
}


/* Global Font & Icons Styling */
hr{
    border-width: 2px;
}

.bi-pencil-square{
    font-size: 30px;
}


/* Home-anon Page Styling */
#home-title{
    color: white;
    font-size: 30px;
}

#carouselAutoplaying{
    height: 650px;
}

.img-fixed-size{
    width:450px;
}

/* Navbar Styling*/
.dropdown:hover .dropdown-menu {
    display: block;
}
  
.dropdown>.dropdown-toggle:active {
      pointer-events: none;
}

#home-link{
    font-size: 50px;
    font-style: normal;
}

#home-link, #home-title{
    font-family: "Grand Hotel", cursive, sans-serif;
}

.navbar-toggler{
    opacity: 1;
}

#nav-img{
    width: 50px;
    height: 50px;
}


/* Search Form Styling 
Resource: Warbler App Assessment
*/
#nav-search{
    width: 150px;
}

#search-posts.form-control {
    border-radius: 20px;
  }
  
#search-btn{
    position: absolute;
    right: 95px;
    top: 5px;
    bottom: 4px;
    z-index: 1;
    padding: 0;
}
#search-icon{
    color: #888888
  }
  
  #search-btn:active,
  #search-btn:focus {
    box-shadow: none;
  }
  
  #search-posts:active,
  #search-posts:focus {
    box-shadow: none;
    border: 2px solid lightblue
  }


/* Edit Profile Page Styling */
.arrow-icon{
    position: relative;
    top: -5px;
    right: 45px;
}

.bi-arrow-left-square{
    color: white;
    position: absolute;
    font-size: 30px;
}

#edit-pw-pencil{
    position:relative;
    bottom: 140px;
    left: 35px; 
}

/* Posts Styling */
img.post-img{
    width: 100%;
}

.bi-trash-fill, .bookmark{
    font-size: 20px;
}

.bi-trash-fill{
    position:absolute;
    left: -4px;
    top: -15px;
}

.trash-post-btn{
    position: relative;
    background: none;
    border: none;
}


/* Song Styling */
.bi-trash-fill:hover, .bookmark:hover{
    cursor: pointer;
}

img.song-img{
    width: 60px;
}

a.title{
    font-weight: bold;
    font-size: 14px;
}
.album, .artist{
    font-size: 12px;
}


/* Profile Page Styling */
#profile-img{
    width: 180px;
    height: 180px;
}

.profile-container, .active-tab{
    background: rgba(255, 255, 255, 0.4);
}

.active-tab{
    border-radius: 5px;
}

.active-tab-title{
    color: #222222;
}

.tab:hover{
    cursor: pointer;
}

/* Audio Controls Styling */
/* https://stackoverflow.com/questions/13810085/html5-audio-display-only-play-pause-and-mute-buttons */
.audio-player{
    position: absolute;
}
.play-pause{
    position: absolute;
    left: 15px;
    top: -15px;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.4);
}

i.play{
    position: absolute;
    font-size: 24px;
    top: -3px;
    color: white;
}
i.bi-play-fill{
    left: 4px;
}

i.bi-pause-fill{
    left: 3px;
}


/* Search Page styling */
#users-content{
    display: none;
}

#card-img{
    width: 150px;
    height: 150px;
}


/* 404 Page Styling */
.page-not-found{
    background: rgba(255, 255, 255, 0.4);
}

#arrow, #headphone{
    display: block;
}

#arrow{
    font-size: 50px;
    position: relative;
    top: 10px;
}

#headphone{
    position: relative;
    font-size: 70px;
    top: -60px;
}