{% macro modal(modal_class, modal_label, message, id, link=None) %}
<!-- Modal -->
<div class="modal fade {{ modal_class }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="{{ modal_label }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-dark" id="{{ modal_label}}">{{ message }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          {% if link %}
          <a id='{{ id }}' href="{{ link }}" class="btn btn-primary">Confirm</a>
          {% else %}
          <button id="{{ id }}" class="btn btn-primary" type="button">Confirm</button>
          {% endif %}
        </div>
      </div>
    </div>
</div>
{% endmacro %}
