{% extends 'form.html' %}

{% block before_form_details %}
<div class = "arrow-icon">
    <a href="{{ url_for('user_profile', user_id=user.id) }}">
        <i class="bi bi-arrow-left-square"></i>
    </a>
</div>
{% endblock %} 


{% block after_form_details %}
<h3 class="text-white mt-5">Other Settings</h3>
    <a id ="edit-pw-pencil" class='float-end'
    href="{{ url_for('edit_password') }}">
        <i class="text-white bi bi-pencil-square"></i>
    </a>    


{% import 'msg-macro.html' as macros%}
<!--Account deletion modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target=".staticBackdrop">
    Delete Account
</button>
{{ macros.modal('staticBackdrop', 
                'staticModalLabel',
                'Are you sure you want to delete your account?',
                'delete-account',
                url_for('delete_user')) 
}}
{% endblock %} 