{% import 'posts/post-macro.html' as macros %}

{% if user.posts %}
    {% for post in (user.posts | sort(attribute='timestamp', reverse=True)) %}
        {{ macros.display_post(post)}}
    {% endfor %}
{% else %}
    {% if g.user.id == user.id %}
    <div class="container">
        <h3 class="mt-4">Upload a photo to get started!</h3>
        <a class='btn btn-success' href="{{ url_for('search_music') }}">Go!</a>
    </div>
    {% else %}
    <p>{{ user.username }} has no posts.</p>
    {% endif %}
{% endif %}