{% import 'posts/post-macro.html' as macros %}

{% if user.posts %}
    {% for post in (user.posts | sort(attribute='timestamp', reverse=True)) %}
        {{ macros.display_post(post)}}
    {% endfor %}
{% else %}
    <div class="container text-center">
        <h3 class="mt-4 text-white">
        {% if g.user.id == user.id %}
        Upload a photo to get started!</h3>
        <a class='btn btn-success' href="{{ url_for('search_music') }}">Go!</a>
        {% else %}
        {{ user.username }} has no posts.</h3>
        {% endif %}
    </div>
{% endif %}